<main class="main">
  <h1>Angular Router App</h1>
  <nav>
    <ul class="link-list">
      <li>
        <a
          routerLink="/authorization"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="link"
          >Authorization</a
        >
      </li>
      <li>
        <a
          routerLink="/registration"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="link"
          >Registration</a
        >
      </li>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="link"
          >Dashboard</a
        >
      </li>
    </ul>
  </nav>
  <div class="list-position">
    <h1>{{ title }}</h1>
    <h2>Список сотрудников:</h2>
    <h1>id: {{ state?.id ?? "none" }}</h1>
    <h1>name: {{ state?.name ?? "none" }}</h1>
    <h1>position: {{ state?.position ?? "none" }}</h1>
    <h1>age: {{ state?.age ?? "none" }}</h1>
    <ul>
      <li
        *ngFor="let employee of employees"
        class="item"
        (click)="state = employee"
      >
        <strong>{{ employee.name }}</strong> - {{ employee.position }}
      </li>
    </ul>
  </div>
</main>

<router-outlet />
